.ds-mobile-dropdown {
  background: #003171;
}
.green-grid-bg {
  background: #2a4018;
  background: url(https://www.draftsharks.com/img/title/depth-charts-repeat.png),linear-gradient(180deg, rgb(42, 64, 24) 0%, rgb(84, 127, 47) 100%) repeat-x;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.ds-header {
  background-color: #041944;
}

.line1, .line2, .line3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Update styles when .change class is applied to button */
button.change .line1 {
  transform: translate(0, 11px) rotate(-45deg);
}
button.change .line2 {
  opacity: 0;
}
button.change .line3 {
  transform: translate(0, -11px) rotate(45deg);
}
